    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Leggie leggie??</a>
        </div>
		<div class="navbar-form navbar-right">
			<a href="#" class="btn btn-success">è„???</a>
		  </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" role ="form">

					<input type="text" placeholder="ùrçı..." class="form-control" />

				<button type="submit" class="btn btn-success">ùrçı</button>
			</form>
          <div class="navbar-form navbar-right">
            <a href="#" class="btn btn-success">ìo?</a>
			<a href="#" class="btn btn-success">íçôe?çÜ</a>
          </div>
		  
        </div><!--/.navbar-collapse -->
      </div>
    </nav>