<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Leggie leggie视频</a>
        </div>
        <div class="navbar-form navbar-right">
            <a href="#" class="btn btn-success">上传视频</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">

                <input type="text" placeholder="搜索" class="form-control" />

                <button type="submit" class="btn btn-success">搜索</button>
            </form>
            <div class="navbar-form navbar-right">
                <a href="#" class="btn btn-success">登录</a>
                <a href="#" class="btn btn-success">注册用户</a>
            </div>

        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
